
// Body
$body-bg: #f4f4f4;;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
//$font-family-text: "Open Sans";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$carbonoCorBgNav:#941a3f;
$bgContainerSearch:#ecebeb;

$font-stack:  "Open Sans", sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $body-bg;
}
.navbar.navbar-carbono{
    background-color: $carbonoCorBgNav;
    min-height:187px;
    margin:0 0 40px 0;
}
.container.search{
    background-color:$bgContainerSearch;
    min-height:100px;
    padding-top:35px;
}
.container.search label{
    font-family: "Gotham-Book";
    fon-size:12px;
    font-weight:bold;
    margin-right:15px;
    margin-bottom:0px;
    padding-top:6px;
}
.container.search input{
    font-family: "Gotham-Book";
    fon-size:12px;
    border-radius:0px;
}