
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Gotham-Light';
  src: url('/fonts/Gotham-Light.eot');
  src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Gotham-Light.svg#Gotham-Light') format('svg'),
       url('/fonts/Gotham-Light.ttf') format('truetype'),
       url('/fonts/Gotham-Light.woff') format('woff'),
       url('/fonts/Gotham-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('/fonts/Gotham-Book.eot');
  src: url('/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('/fonts/Gotham-Book.ttf') format('truetype'),
       url('/fonts/Gotham-Book.woff') format('woff'),
       url('/fonts/Gotham-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #941a3f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
/*table.sprite { border-collapse: separate;}*/ /* cellspacing="5" */
/* cellpadding */
/*table.sprite tr
table.sprite td { margin: 15px; }*/

.item_imovel{
    background-color:#FFFFFF;
    border-radius:15px;
    padding:0px 0px;
}


table.sprite{
    /*border-collapse: all;*/
}
 table.sprite{
  border: none;
}   

table.sprite td { 
background-color: transparent;
background-size:cover/* calc(50%,50%)*/;
background-position:center center;
background-repeat:no-repeat
}

table.sprite tr:nth-child(1) td:nth-child(1) img{
    border:6px solid white; 
    border-radius:15px;
    /*margin-right:15px;
    margin-bottom:15px;*/
}
table.sprite tr:nth-child(1) td:nth-child(2) img{
    border:6px solid white;
    border-radius:15px;
    /*margin-left:15px;
    margin-bottom:15px;*/
}

table.sprite tr:nth-child(2) td:nth-child(1) img{
    border:6px solid white;
    border-radius:15px;
   /* margin-right:15px;
    margin-top:15px;*/
}
table.sprite tr:nth-child(2) td:nth-child(2) img{
    border:6px solid white;
    border-radius:15px;
    /*margin-top:15px;
    margin-left:15px;*/
}

.margin0{
    margin:0 0 0 0;
}

.nome,.bairro{
    text-align: left;
    font-family: 'Gotham-Book';
    font-weight:bold;
    font-size:20pt;
}
.medida,.cidade{  
    text-align:right;
    font-family: 'Gotham-Book';
    font-weight:bold;
    font-size:20pt;
}
.medida2,.valor{

  font-family: 'Gotham-Book';
    font-weight:bold;
    font-size:14pt;  
}
.codigo{
    ont-family: 'Gotham-Light';
    font-weight:bold;
    font-size:10pt; 
}
.medida2{
        text-align:left;
}
.valor{
    text-align:right;
}
.paddingfix{
    padding-left: 28px;
    padding-right: 28px;
}




.item_imovel .absolute{
    position:absolute;;
    z-index:100;
    right:0px;
    top:-14px;
   
    
}
 .absolute-text{
    position:absolute;;
    z-index:100;
    right:37px;
    top:37px;
    color:white;
    font-size:16px;
    
    /* Safari */
-webkit-transform: rotate(45deg);

/* Firefox */
-moz-transform: rotate(41deg);

/* IE */
-ms-transform: rotate(45deg);

/* Opera */
-o-transform: rotate(45deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
}