@font-face {
  font-family: 'Gotham-Light';
  src: url('Gotham-Light.eot');
  src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'),
       url('Gotham-Light.svg#Gotham-Light') format('svg'),
       url('Gotham-Light.ttf') format('truetype'),
       url('Gotham-Light.woff') format('woff'),
       url('Gotham-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

